<div class="card">
    <div class="card-header">Filtros</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="de">de</label>
                <input type = 'number' id="de" class="form-control">
            </div>
            <div class="form-group">
                <label for="ate">até</label>
                <input type = 'number' id="ate" class="form-control">
            </div>
            <p></p>
            <button type="button" class="btn btn-dark">Filtrar</button>
        </form>
    </div>
</div>