#classe, .classi, .classo {
    font-style: italic;
}
body{
    background-color: #00ccff;
}
.classu{
    color: #000000;
background-color: blueviolet;
padding: 25px;
border-top: 3px  solid black;
border-left: 3px dotted black;
border-right: 3px dashed black;
margin: 10px;
}
.classa{
    background-color: antiquewhite;
}
.fototopo{
    border-radius: 50%;
}