.geral{
    background-color: #427a88;
}
.fototopo{
    border-radius: 50%;
}
.fundo{
    background-color: #00F5FF;
}
.ses{
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.cor{
    background-color: #00F5FF;
}
